body {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.938);
    color: seashell;
    font-family: sans-serif;
}

.duty {
    font-size: 3rem;
    color: seashell;
}
.navbar {
    background-color: transparent;
    position: relative;
    z-index: 4;
    padding-left: 30px;
    padding-right: 30px;
}
#home, #features, #mobile, #navbarDropdownMenuLink {
    color: seashell;
    font-size: 1.1rem;
}

.dropdown-menu {
    position: absolute;
    top: 40px;
    left: -75px;
    background-color: rgba(35, 35, 35, 0.700);
    border:none;
}
.dropdown-menu a{
    color: seashell;
}
main {
    position: absolute;
    top: 0;
    z-index: 0;
}

.carousel-inner{
    width: 100%;
    height: 100vh;
}
.carousel-control-prev, .carousel-control-next {
    width: 8%;
}

.site-wrapper {
    height: 1000px;
}

.game {
    padding-top: 0;
}
#game {
    font-size: 3rem;
    letter-spacing: 5px;
}

#first-content {
    padding-left: 40px;
}
.card, .list-group-item {
    background-color: rgb(35,35,35);
}

#second-content {
    padding-top: 25px;
    padding-left: 33px;
}

.card-title {
    font-family: 'Staatliches'; 
    font-size: 1.5rem; 
    letter-spacing: 1.1px;
}

#new-season {
    background-color: rgba(0, 0, 0, 0.500);
}
.parallax {
    background-image: url('img/cod10.jpg');
    background-attachment: fixed;
    background-position: top right;
    background-repeat: no-repeat;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.500);
}

.account {
    text-transform: uppercase;
    font-family: 'Staatliches'; 
    font-size: 1.9rem; 
    letter-spacing: 4px;
}
.btn-primary {
    background-color: rgb(56, 53, 53);
    border: 1px solid rgb(41, 39, 39);
}
.btn-primary:hover {
    background-color: rgb(223, 216, 194);
    border: 1px solid rgb(41, 39, 39);
    color: rgb(35,35,35);
}
::placeholder {
    font-size: .8rem;
}

#footer-nav, #footer-con {
    padding-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 0px;

}
#legal, #terms, #privacy, #cookie, #support {
    text-transform: uppercase;
    font-size: .8rem;
    letter-spacing: 1px;
}

.text-muted {
    color: rgb(35,35,35);
    opacity: .50;
    font-size: .7rem;
}
footer {
    padding: 0;
}


@media screen and (max-width:1646px){
    .site-wrapper{
        height: 975px;  
    }
} 
@media screen and (max-width:1601px){
    .site-wrapper{
        height: 950px;  
    }
} 
@media screen and (max-width:1556px){
    .site-wrapper{
        height: 920px;  
    }
}
@media screen and (max-width:1511px){
    .site-wrapper{
        height: 890px;  
    }
} 
@media screen and (max-width:1466px){
    .site-wrapper{
        height: 860px;  
    }
} 
@media screen and (max-width:1421px){
    .site-wrapper{
        height: 835px;  
    }
} 
@media screen and (max-width:1395px){
    .site-wrapper{
        height: 805px;  
    }
} 
@media screen and (max-width:1366px){
    .parallax {
        background-position: 80% 50%;
    }
} 
@media screen and (max-width:1345px){
    .site-wrapper{
        height: 780px;  
    }
} 
@media screen and (max-width:1295px){  
    .site-wrapper{
        height: 755px;  
    }
} 
@media screen and (max-width:1245px){
    .site-wrapper{
        height: 725px;  
    }
} 
@media screen and (max-width:1195px){
    .site-wrapper{
        height: 695px;  
    }
} 
@media screen and (max-width:1145px){
    .site-wrapper{
        height: 665px;  
    }
} 
@media screen and (max-width:1095px){
    .site-wrapper{
        height: 635px;  
    }
} 

@media screen and (max-width:1024px){
    .dropdown-menu {
        font-size: .9rem;
    }
    .dropdown{
        margin-right: 1px;
    }
    .site-wrapper{
        height: 600px;  
    }
    .carousel-control-prev, .carousel-control-next {
       height: 50%;
    }
    #game {
        font-size: 2rem;
    }
    #first-content, #second-content {
        padding-left: 1px;
    }
    .parallax {
        position: static;
        background-size: 100%;
        background-attachment: local;
        background-repeat: no-repeat;
        max-height: 300px;
    }
}

@media screen and (max-width:991px){
    .navbar-light .navbar-toggler {
        background-color: rgb(255, 255, 255);
      }
    .navbar-toggler {
        position: relative;
        display: inline-block;
        background-color: rgba(34, 34, 34, 0.534);
        font-size: 1.2rem;
    }
    .navbar ul {
        width: 100%;
        text-align: center;
        padding-left: 20px;
        background-color: rgba(35, 35, 35, .900);
        border-radius: 5px;
    }
    
    .dropdown-menu { 
        background-color: rgba(35, 35, 35, 0);
        width: 100%;
        min-width: 60px;
        text-align: center; 
    }
    .dropdown-item{ 
        min-width: 60px 
    }
    .site-wrapper{
        height: 580px;  
    }
    .carousel-control-prev, .carousel-control-next {
        height: 80%;
    }
    #first-left, #first-center, #first-right, #second-left, #second-right {
        display: flex;
        justify-content: center;
        margin-bottom: 35px;
    }
    #footer-nav {
        text-align: center;
    }
    #footer-navlinks  {
        background-color: rgba(35, 35, 35, 0);
    }
}
@media screen and (max-width:946px){
    .site-wrapper{
        height: 550px;  
    }
}
@media screen and (max-width:901px){
    .site-wrapper{
        height: 520px;  
    }
}
@media screen and (max-width:856px){
    .site-wrapper{
        height: 490px;  
    }
}
@media screen and (max-width:811px){
    .site-wrapper {
        height: 485px;  
    }
}
@media screen and (max-width:768px){
    .duty {
        font-size: 2.5rem;
    }
    
    #home, #features, #mobile, #navbarDropdownMenuLink {
        font-size: 1rem;
    }

    .carousel-control-prev, .carousel-control-next {
       height: 50%;
    }

    .site-wrapper{
        height: 460px;  
    }
}

@media screen and (max-width:723px){
    .site-wrapper{
        height: 425px;  
    }
}
@media screen and (max-width:678px){
    .site-wrapper{
        height: 400px;  
    }
}
@media screen and (max-width:633px){
    .site-wrapper{
        height: 375px;  
    }
}
@media screen and (max-width:588px){
    .site-wrapper{
        height: 350px;  
    }
}
@media screen and (max-width:543px){
    .site-wrapper{
        height: 325px;  
    }
    .parallax {
        max-height: 250px;
    }
}
@media screen and (max-width:498px){
    .site-wrapper{
        height: 300px;  
    }
}
@media screen and (max-width:453px){
    .site-wrapper{
        height: 275px;  
    }
    .parallax {
        max-height: 200px;
    }
}

@media screen and (max-width:414px){
    .navbar {
        padding: 15px;
    }
    .navbar-toggler {
        font-size: .8rem;
        padding: 5px 10px;
    }
    
    .duty {
        font-size: 2rem;

    }
    #home, #features, #mobile, #navbarDropdownMenuLink {
        font-size: .9rem;
    }
    .site-wrapper{
        height: 250px;
    }

    .carousel-control-prev, .carousel-control-next {
        display: none;
    }

    #game {
        font-size: 1.5rem;
    }
    .account {
        font-size: 1.8rem;
    }
    #legal, #terms, #privacy, #cookie, #support {
        font-size: .7rem;
    }
    .text-muted {
        font-size: .6rem;
    }
}    

@media screen and (max-width:375px){
    .duty {
        font-size: 1.8rem;
    }
    .site-wrapper{
        height: 230px;
    }

    .dropdown-menu, #navbarNavDropdown {
        margin-right: 5px;
    }
    
    #game {
        font-size: 1.2rem;
    }

    .carousel-control-prev, .carousel-control-next {
        display: none;
    }
    #first-content, #second-content {
        padding-left: 1px;
    }

    #legal, #terms, #privacy, #cookie, #support {
        font-size: .7rem;
    }
}    
@media screen and (max-width:320px){
    .duty {
        margin-left: 3px;
    }
    .site-wrapper{
        height: 200px;
    }
    
    .dropdown-menu, #navbarNavDropdown {
        margin-right: 15px;
    }
    .carousel-control-prev, .carousel-control-next {
        display: none;
    }
    
    #first-content, #second-content {
        padding-left: 1px;
    }

    .parallax {
        max-height: 180px;
    }
    .account {
        font-size: 1.5rem;
    }
    #legal, #terms, #privacy, #cookie, #support {
        font-size: .7rem;
    } 
}    
